$text-color : #141414;

$white: #fff;
$black: #000;
$blue: #003349;
$teal: #3CE3C9;
$light-teal: rgb(174, 245, 234);
$pink: #db0a5b;
$red: #b30000;
$gray: #969696;
$light-gray: #ececec;
$purple: #7777FF;